
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e5e5e5;
  margin-right: 1%;
  box-shadow: black 10px 5px 5px;
  margin-left: -8px;
  margin-top: -8px;

  li {
    list-style-type: none;
  }

}

.menu-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -25px;
  align-items: center;
}

.menu-2 {
  color: #A9A9A9;
  font-size: 15px;
}

.titre {
  font-size: 30px;
}

li {

  margin-left: 2px;
}

.menu-logo ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 10px;
}

.logoImg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  box-shadow: black 0px 0px 10px;
  align-items: start;
  width: 500px;
  height: 510px;

}

.content {
  padding-left: 5px;
  padding-right: 5px;
}

.title-article {
  color: #FF7700FF;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;


}

.text-article {
  text-align: justify;
}

.menu-principal {
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: #ff7700;
  width: 220px;
  margin-top: 15px;

  .liste-navigation {
    display: flex;
    flex-direction: row;
    line-height: 1px;
    margin-left: -50px;
    margin-top: 5px;

    .img-liste {
      margin-left: -29px;
    }
  }
}

.liste-navigation-2 {
  display: flex;
  flex-direction: row;
  line-height: 1px;
  margin-left: -40px;
}

.date {
  margin-top: -10px;

  margin-bottom: 30px;
}

#article3, #article5, #article6 {
  width: 300px;
  transform: rotate(2deg);

}

#article1, #article3, #article5, #article7, #article9 {
  transform: rotate(2deg);

}

#article2, #article4, #article6, #article8, #article10, {
  transform: rotate(-2deg);
}


.img-article {
  width: 100%;
}

.bouton {
  display: flex;
  flex-direction: row;
  justify-content: end;

}

#btn-article {
  border-radius: 10px;
  border-color: black;
}

@media only screen and (max-width: 1233px) and (min-width: 1041px) {
  .article {
    width: 400px;
  }
  #article3, #article5, #article6 {
    width: 240px;

  }

}


// a verifier
@media only screen and (max-width: 1040px) and (min-width: 853px) {
  .article {
    width: 370px;
    height: 600px ;
  }
  #article3, #article5, #article6 {
    width: 190px;

  }

}

@media only screen and (max-width: 852px) and (min-width: 607px) {

  .article {
    width: 500px;
    height: 600px;
  }
  #article3, #article5, #article6 {
    width: 230px;

  }

}

@media only screen and (max-width: 606px) {

  .article {
    width: 600px;
    height: 600px;
  }
  #article3, #article5, #article6 {
    width: 270px;

  }

  .bouton {
    display: flex;
    flex-direction: column;
    justify-content: start;

  }

}



